<div class="page-wrapper d-flex" style="min-height: 100vh;">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a *ngIf="isLoggedIn" routerLink="/products">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div *ngIf="isLoggedIn"><app-product-category-menu></app-product-category-menu></div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30" style="padding: 10px;">
        <div class="container-fluid">
          <div class="header-wrap row d-flex justify-content-between">
            <div class="col">
              <app-search *ngIf="isLoggedIn"></app-search>
            </div>
            <div class="col">
              <div class="d-flex justify-content-end align-items-center">
                <div><app-cart-status *ngIf="isLoggedIn"></app-cart-status></div>
                <div>
                  <i class="fas fa-sign-out-alt" 
                    (click)="logout()" 
                    *ngIf="isLoggedIn" 
                    style="cursor: pointer; font-size: 1.5em; margin-left: 10px;" 
                    title="Logout">
                  </i>
                </div>  
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
    <!-- END MAIN CONTENT-->
  </div>
</div>
<!-- END PAGE CONTAINER-->

<footer class="bg-dark text-white text-center py-3 mt-auto">
  <ul>
    <li><a href="#" class="text-white">About Us</a></li>
    <li><a href="#" class="text-white">Contact Us</a></li>
    <li><a href="#" class="text-white">Help</a></li>
  </ul>
</footer>
