<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div class="container-fluid ms-5" style="margin-top: 100px !important;">
    <div class="table-container">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th width="200" >Product Image</th>
              <th width="500" >Product detail</th>
              <th width="300"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempCartItem of cartItems">
              <td>
                <img src="{{tempCartItem.imageUrl}}" class="img-responsive" width="150">
              </td>
              <td>
                <p>{{tempCartItem.name}}</p>
                <p>{{tempCartItem.unitprice| currency: 'USD'}}</p>
              </td>
              <td>
                <div>
                  <label>Quantity:</label>
                  <button class="btn btn-outline-secondary btn-sm p-0 small-btn" (click)="incrementQuantity(tempCartItem)">
                    <i class="bi bi-caret-up-fill"></i>
                  </button>
                  <span>{{tempCartItem.quantity}}</span>
                  <button class="btn btn-outline-secondary btn-sm p-0 small-btn" (click)="decrementQuantity(tempCartItem)">
                    <i class="bi bi-caret-down-fill"></i>
                  </button>
                </div>
                <p class="mt-2">Subtotal: {{tempCartItem.quantity * tempCartItem.unitprice | currency: 'USD'}}</p>
                <button class="btn btn-danger btn-sm mt-2" (click)="cartRemove(tempCartItem)">Remove</button>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td style="font-weight: bold;">
                <p>Total Qunatity: {{totalQuantity}}</p>
                <p>Shipping: FREE</p>
                <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="cartItems.length == 0">
        <div
          class="alert alert-primary w-100"
          role="alert"
        >
          <strong>your shopping cart</strong>  is empty
        </div>
        
      </div>
    </div>
  </div>
  
  

