<div style="margin-top: 100px !important; margin-left: 75px !important;">
    <div class="container" >
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
          
          <!-- Customer Information -->
          <div class="card mb-4" formGroupName="customer">
            <div class="card-header">
              <h4>Customer Information</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Shipping Address -->
          <div class="card mb-4" formGroupName="shippingAddress">
            <div class="card-header">
              <h4>Shipping Address</h4>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                      <label for="city">Country</label>
                      <select class="form-control" formControlName="country">
                        <option>To Do</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" formControlName="street" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" formControlName="city" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                      <label for="city">State</label>
                      <select class="form-control" formControlName="state">
                        <option>To Do</option>
                      </select>
                    </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="postalCode">Zip Code</label>
                    <input type="text" formControlName="zipCode" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Add check box to copy shipping to billing-->
           
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" (change)="copyAddress($event)">
            <label class="form-check-label" for="flexCheckDefault">
             Billing Address same as Shipping Address
            </label>
          </div>
          

          <!-- Billing Address -->
          <div class="card mb-4" formGroupName="billingAddress">
            <div class="card-header">
              <h4>Billing Address</h4>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                      <label for="city">Country</label>
                      <select class="form-control" formControlName="country">
                        <option>To Do</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" formControlName="street" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" formControlName="city" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                      <label for="city">State</label>
                      <select class="form-control" formControlName="state">
                        <option>To Do</option>
                      </select>
                    </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="postalCode">Zip Code</label>
                    <input type="text" formControlName="zipCode" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      
          <!-- Payment Details -->
          <div class="card mb-4" formGroupName="creditCard">
            <div class="card-header">
              <h4>Payment Details</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" formControlName="cardNumber" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="expirationDate">Expiration Date</label>
                    <input type="text" id="expirationDate" class="form-control">
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Submit Button -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Purchase</button>
          </div>
      
        </form>
      </div>
      
</div>
